body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    background-color: #33B3B3;
    height: 100px;
    display: flex;
    justify-content: space-between;


}

.logo-header {
    display: flex;
    align-items: center;
    margin: 20px;
}

.logo-header>h2 {
    margin-left: 20px;
    font-weight: bold;
}

nav>button {
    background-color: black;
    width: 150px;
    color: white;
    height: 35px;
    margin-top: 30px;
    padding: 10px;
    margin-right: 40px;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border-color: rgb(87, 12, 12);
    border: 2px solid #33B3B3;

}

*/

/* maincontent */
.movie-list {
    background-color: black;
    width: 170vh;
    margin: auto;
    height: fit-content;
    margin-top: 40px;
    color: white;
    box-shadow: 0px 4px 4px 0px #ACDDDE;

}

hr {
    width: 80vw;
    margin: auto;
}

.movie-list>h1 {
    color: #33B3B3;
    font-size: 20px;
    margin-top: 40px;
    padding: 20px;
}


.movie-cover {
    width: 30vh;
    display: block;
    justify-content: center;
    align-items: center;
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin: 45px;
}

.button {
    background-color: #33B3B3;
    width: 150px;
    color: black;
    font-weight: bold;
    height: 20px;
    margin-top: 30px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

h5 {
    margin: auto;
}

.button:hover {
    background-color: white;
    color: #33B3B3;
    cursor: pointer;
    border: 2px solid #33B3B3;

}

.movie-cover>img {
    margin: auto;
}

.movie-title {
    color: white;
    font-size: 20px;
    height: 50px;
    padding: 10px;
}


/* movieDetails */
.movie-details {
    background-color: black;
    width: 170vh;
    margin: auto;
    height: fit-content;
    margin-top: 40px;
    color: white;
    display: block;
}

.detail-title {
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.detail-cover>img {
    margin: auto;
    display: block;
    padding: 30px;
}

.movie-year {
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.movie-description {
    text-align: center;
    width: 90vh;
    margin: auto;
}

.sign-button {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 30px;
    color: black;
    font-weight: bold;
}

.movie-suggestion {
    background-color: black;
    /* justify-content: center; */
    /* align-items: center; */
    display: inline-grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    /* grid-gap: 10px; */
    margin: 45px;
    margin-left: 20vh;

}

.suggested-title {
    color: white;
    font-size: 20px;
    align-items: center;
    /* background-color: #33B3B3; */
}

.suggested-list {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    /* justify-content: space-between; */
}

.suggestion {
    width: 30vh;
    display: block;
    justify-content: center;
    align-items: center;
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin: 30px;
}

#movie-suggestTitle {
    color: white;
    margin-left: 40px;

}